// Configuration options for tidy
// @(#) $Id$
// 2016-09-22, Georg Fischer: copied from http://api.html-tidy.org/tidy/quickref_5.2.0.html
// -------------------------
// HTML, XHTML, XML Options 
add-xml-decl: yes
add-xml-space: yes
// alt-text	String 	-
anchor-as-name:yes
assume-xml-procins:no
bare:no
clean: yes
coerce-endtags:yes
// css-prefix	String 	-
decorate-inferred-ul:no
doctype: omit
drop-empty-elements:yes
drop-empty-paras:yes
drop-font-tags:no
drop-proprietary-attributes: yes
enclose-block-text:no
enclose-text:no
escape-cdata:no
fix-backslash: yes
fix-bad-comments:yes
fix-uri:yes
gdoc:no
hide-comments:no
hide-endtags:no
indent-cdata:no
input-xml:no
join-classes:no
join-styles:yes
literal-attributes:no
logical-emphasis: yes
lower-literals:yes
merge-divs:auto
merge-emphasis:yes
merge-spans:auto
ncr:yes
// new-blocklevel-tags	Tag names 	-
// new-empty-tags	Tag names 	-
// new-inline-tags	Tag names 	-
// new-pre-tags	Tag names 	-
numeric-entities: yes
omit-optional-tags:no
output-html:no
output-xhtml: yes
output-xml:no
preserve-entities:no
quote-ampersand:yes
quote-marks:no
quote-nbsp:yes
repeated-attributes:keep-last
replace-color:no
show-body-only:no
skip-nested:yes
strict-tags-attributes:no
uppercase-attributes:no
uppercase-tags:no
word-2000: yes
// Diagnostics Options
accessibility-check:0
show-errors:6
show-info: no
show-warnings:yes
// Pretty Print Options
break-before-br: yes
escape-scripts:yes
indent: auto
indent-attributes:no
indent-spaces:2
indent-with-tabs:no
markup:yes
punctuation-wrap: yes
sort-attributes: alpha
split:no
tab-size:8
vertical-space:no
wrap:68
wrap-asp:yes
wrap-attributes:no
wrap-jste:yes
wrap-php:yes
wrap-script-literals:no
wrap-sections:yes
// Character Encoding Options
ascii-chars:no
char-encoding:utf8
input-encoding:utf8
// language	String 	-
newline:LF
output-bom:auto
output-encoding:utf8
// Miscellaneous Options
// error-file	String 	-
force-output:no
gnu-emacs:no
// gnu-emacs-file	String 	-
keep-time:no
// output-file	String 	-
quiet:no
// slide-style	String 	-
tidy-mark:yes
write-back:no
